

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet" href="style.css")

  body 


    div.calculator
      

          div.monitor
              textarea
          
          div.buttons
              
              div.btn DEL
              div.btn AC
              div.btn *
              div.btn =
              div.btn 1
              div.btn 2
              div.btn 3
              div.btn +
              div.btn 4
              div.btn 5
              div.btn 6
              div.btn -
              div.btn 7
              div.btn 8
              div.btn 9
              div.btn /
              div.btn.last 0
              div.btn.last .
          script(src="script.js") 

  p